@import "../../scss/mixins.scss";
@import "../../scss/vars.scss";

.orders {
  &__container {
    padding: 100px 32px;
  }
  &__title {
    font-size: 20px;
    font-weight: 400;
    color: $wordsColor;
    margin-bottom: 15px;
  }
  &__block {
    background-color: #fff;
    box-shadow: $boxShadowOnBlock;
    display: flex;
    flex-direction: column;
    border-radius: 9px;
    padding: 16px 0;
  }
  &__filters {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 22px 14px 22px;
    border-bottom: 1px solid #e0e2e8;
  }
}

@media (min-width: 1400px) {
  .orders {
    &__container {
      padding: 100px 32px 100px 317px;
    }
  }
}
