@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.aside {
  top: 0;
  left: -100%;
  z-index: 20;
  position: fixed;
  transition: 0.4s all ease-out;
  &.active {
    left: 0;
  }
  &__head {
    padding: 23px 50px;
    display: flex;
    align-items: center;
    box-shadow: $boxShadowInnerAsideItem;
  }
  &__title {
    margin-left: 7px;
    font-size: 18px;
    color: $wordsColor;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__wrapper {
  }
  &__container {
    box-shadow: $boxShadowOnBlock;
    width: 285px;
    min-height: $fullHeight;
    background-color: #fff;
  }
}

@media (min-width: 1400px) {
  .aside {
    left: 0;
  }
}
