@import "../../../../scss/mixins.scss";
@import "../../../../scss/vars.scss";

.checkbox-order {
  &__item {
    display: flex;
    align-items: center;
    &.active {
      .checkbox-order__label::before {
        border: 1px solid $mainGreen;
        transition: 0.2s all;
      }
      .checkbox-order__label::after {
        transition: 0.2s all;
        opacity: 1;
        border-left: 2px solid $mainBlack;
        border-bottom: 2px solid $mainBlack;
      }
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 7px;
  }
  &__input:checked,
  &__input:not(:checked) {
    position: absolute;
    left: -100%;
  }
  &__label {
    span {
      display: none;
    }
    padding-left: 5px;
    @include checkbox();
  }
}

@media (min-width: 1024px) {
  .checkbox-order {
    &__label {
      span {
        display: block;
        color: $wordGray;
        line-height: 14px;
      }
      img {
        display: none;
      }
    }
  }
}
