@import "../../../../scss/vars.scss";
@import "../../../../scss/mixins.scss";

.info {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  font-size: 11px;
  color: #889098;
  max-width: 250px;
  &__place {
    span {
      color: $mainBlack;
    }
  }
  &__date {
    span {
      color: $mainBlack;
    }
  }
  &__color {
    span {
      color: $mainBlack;
    }
  }
}

@media(min-width: 768px){
  .info{
    font-size: 13px;
  }
}