@import "../../../scss/mixins.scss";
@import "../../../scss/vars.scss";

.button {
  align-items: flex-start;
  &:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  &__image {
    text-align: center;
    width: 12px;
    height: 12px;
  }
  @include button();
  &.link {
    @include linkButton();
  }
}

@media (min-width: 768px) {
  .button {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
