@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.filter {
  position: relative;
  &__toggler {
    @include filterToggler();
  }
  &__container {
    @include filterContainer();
  }
  &__wrapper {
  }
  &__list {
    @include filterList();
  }
  &__item {
  }
  &__button {
    @include button();
  }
}

@media (min-width: 768px) {
  .filter {
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 1024px) {
  .filter {
    width: 100%;
  }
}
