@import "../../../scss/vars.scss";
@import "../../../scss/mixins.scss";

.radio {
  &__label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: $wordGray;
    padding-left: 21px;
    font-size: 11px;
    margin-bottom: 8px;
    @include radio();
  }
  &__input {
    display: none;
  }
}
