@import "./vars.scss";

@mixin inputLogin {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: 1px solid $inputBorder;
  padding: 8px 10px;
  &.warning {
    border: 1px solid $mainRed;
  }
  &.active {
    border: 1px solid $inputActive;
  }
  &.plus {
    width: calc(100% - 38px);
  }
}

@mixin inputWithPlus {
  &::after,
  &::before {
    transition: 0.2s all ease-in-out;
    content: "";
    position: absolute;
    background-color: $inputBorder;
  }
  &::after {
    bottom: 20%;
    right: 45%;
    width: 2px;
    height: 16px;
  }
  &::before {
    bottom: 45%;
    right: 20%;
    width: 16px;
    height: 2px;
  }
  &:hover {
    cursor: pointer;
    transition: 0.2s all ease-in;
    border: 1px solid $buttonPrimary;
    &::after,
    &::before {
      background-color: $buttonPrimary;
    }
  }
}

@mixin inputHeader {
  background-color: transparent;
  border: 0;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 13px;
  &:active,
  &:focus,
  &:hover {
    outline: 0;
    outline-offset: 0;
  }
}

@mixin button {
  font-family: $mainFont;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  color: #fff;
  border-radius: 5px;
  padding: 0 20px 3px 20px;
  font-size: 11px;
  cursor: pointer;
  height: 30px;
  background-color: $buttonPrimary;
  transition: 0.2s all ease-in-out;
  &:hover {
    background-color: $buttonHover;
  }
  &.warning {
    background-color: $mainRed;
    &:hover {
      background-color: $buttonHoverWarning;
    }
  }
  &.cancel {
    background-color: $buttonCancel;
    color: $wordsColor;
    &:hover {
      background-color: $buttonCancelHover;
      color: #fff;
    }
  }
  &.add {
    background-color: $mainGreen;
    flex-direction: row;
    height: 30px;
    width: 96px;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
    &:hover {
      background-color: $mainGreenHover;
    }
  }
}

@mixin container {
  padding: 0 20px;
  @media (min-width: 1400px) {
    padding: 0 27px;
  }
}

@mixin asideItem {
  &-title {
    margin-left: 16px;
    color: $wordsColor;
    font-size: 15px;
  }
  &-icon {
    height: 15px;
    width: 15px;
  }
  &-container {
    display: block;
    position: relative;
    cursor: pointer;
    display: flex;
    padding-left: 28px;
    align-items: center;
    height: 57px;
    width: 100%;
    box-shadow: $boxShadowInnerAsideItem;
    font-family: $mainFont;
    background-color: #fff;
    transition: 0.4s all;
    text-decoration: none;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background-color: transparent;
      transition: 0.2s all;
    }
    &.active::after {
      border-right: 1px solid $borderAsideItemActive;
      background-color: $buttonPrimary;
      box-shadow: 5px 0px 12px 0px $buttonPrimary;
    }
    &.active {
      background-color: #fbfbfb;
    }
  }
}

@mixin headerButtonMenu {
  top: 25px;
  left: 12px;
  cursor: pointer;
  z-index: 10;
  position: absolute;
  width: 22px;
  height: 17px;
  span {
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $wordsColor;
    left: 0;
    border-radius: 10px;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 7px;
  }
  span:nth-child(3) {
    bottom: 0;
  }
  @media (min-width: 768px) {
    left: 30px;
  }
}

@mixin headerItem {
  padding: 10px;
  &-input {
    display: flex;
    align-items: center;
    border-right: 1px solid #cacedb;
  }
  &-notice {
    border-right: 1px solid #cacedb;
  }
  &-account {
  }
}

@mixin linkButton {
  font-size: 13px;
  text-decoration: none;
  color: $buttonPrimary;
  font-family: $mainFont;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

@mixin accountArrow {
  position: relative;
  span {
    top: 45%;
    position: absolute;
    background-color: #abb6bf;
    height: 4px;
    width: 1px;
  }
  span:nth-child(1) {
    left: 7px;
    transform: rotate(-45deg);
  }
  span:nth-child(2) {
    left: 10px;
    transform: rotate(45deg);
  }
}

@mixin checkbox {
  display: flex;
  position: relative;
  align-items: center;
  line-height: 20px;
  cursor: pointer;
  font-size: 12px;
  color: $mainGrayDark;
  font-weight: 300;
  transition: 0.2s all;
  &::before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 1px solid $mainGrayDark;
    background-color: transparent;
    border-radius: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    transition: 0.2s all;
    left: 7px;
    top: 4px;
    width: 8px;
    height: 4px;
    opacity: 0;
    border-left: 0px solid $mainGrayDark;
    border-bottom: 0px solid $mainGrayDark;
    transform: rotate(-45deg);
  }
}

@mixin readyIcon {
  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 6px;
    transform: rotate(45deg);
    border-bottom: 1px solid $mainGreen;
    border-right: 1px solid $mainGreen;
    left: 7px;
    width: 4px;
    height: 8px;
  }
}

@mixin closeIcon {
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    top: 11px;
    left: 4px;
    background-color: #900;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

@mixin dotsIcon($top, $left) {
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: $dotsGray;
    top: $top;
    left: $left;
    box-shadow: 0px 3px 0px 0px $dotsGray, 0px 6px 0px 0px $dotsGray;
  }
}

@mixin pagesArrow {
  &::after,
  &::before {
    cursor: pointer;
    content: "";
    position: absolute;
    top: 37%;
    width: 6px;
    height: 6px;
    background-color: transparent;
    transform: rotate(45deg);
  }
  &::after {
    left: -7px;
    border-left: 1px solid $buttonPrimary;
    border-bottom: 1px solid $buttonPrimary;
  }
  &::before {
    right: -7px;
    border-right: 1px solid $buttonPrimary;
    border-top: 1px solid $buttonPrimary;
  }
}

@mixin arrowFilter {
  &::after,
  &::before {
    z-index: 10;
    right: 10px;
    content: "";
    position: absolute;
    width: 4px;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
  }
  &::after {
    top: 11px;
    border-bottom: 3px solid #000;
  }
  &::before {
    bottom: 10px;
    border-top: 3px solid #000;
  }
}

@mixin mainBlock {
  background-color: #fff;
  box-shadow: $boxShadowOnBlock;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  padding: 17px 0 0 0;
}

@mixin mainBlockContainer {
  padding: 100px 0 0 0;
  @media (min-width: 768px) {
    padding: 100px 32px 10px 32px;
  }
  @media (min-width: 1400px) {
    padding: 100px 32px 10px 317px;
  }
}

@mixin mainBlockTitle {
  padding-left: 15px;
  font-size: 20px;
  font-weight: 400;
  color: $wordsColor;
  margin-bottom: 15px;
  @media (min-width: 768px) {
    padding-left: 0;
    font-size: 29px;
  }
}

@mixin filterToggler {
  cursor: pointer;
  background-color: transparent;
  position: relative;
  padding: 5px 20px;
  border: 1px solid $mainGrayDark;
  border-radius: 5px;
  @include dotsIcon(10px, 7px);
  z-index: 3;
  @media (min-width: 1024px) {
    display: none;
  }
}

@mixin filterContainer {
  height: min-content;
  width: max-content;

  transition: 0.2s all;
  padding: 15px 25px;
  position: absolute;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: $boxShadowOnBlock;
  opacity: 0;
  top: 30px;
  &.active {
    opacity: 1;
    z-index: 2;
  }
  @media (min-width: 1024px) {
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    width: 100%;
    position: relative;
    opacity: 1;
    top: 0;
    display: flex;
    box-shadow: none;
    background-color: transparent;
  }
}

@mixin filterList {
  position: relative;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 7px 14px;
  min-width: 110px;
  border-radius: 5px;
  border: 1px solid $mainGrayDark;
  span {
    font-size: 12px;
    color: $wordGray;
  }
  @include arrowFilter();
  @media (min-width: 1024px) {
    margin: 0;
  }
}

@mixin filterWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 22px 14px 22px;
  border-bottom: 1px solid $grayBorderBottom;
}

@mixin radio {
  &::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $mainGrayDark;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.1s all;
    background-color: #fff;
  }
  &:active::before,
  &.active::before {
    border: 4px solid $buttonPrimary;
  }
  &:disabled::before {
    background-color: $buttonCancel;
  }
}

@mixin checkboxPrimary {
  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid $inputBorder;
    transition: 0.2s all;
  }
  &.active::before {
    background-color: $buttonPrimary;
    border: 0;
  }
  &.active::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 9px;
    transform: rotate(45deg);
    top: 1px;
    left: 4.5px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}
