$backgroundAdminPanel: #f5f6f8;

$wordsColor: #3d5170;

$inputBorder: #becad6;
$inputWarning: #c4183c;
$inputActive: #1d6cc0;

$buttonPrimary: #007bff;
$buttonHover: #0056b3;

$boxShadowOnBlock: 1px 10px 20px 1px rgba(90, 97, 104, 11%);

$fullHeight: calc(var(--vh, 1vh) * 100);
$mainFont: "Helvetica";
